body {
    color: rgb(207, 1, 1);
    background: rgb(226, 154, 154);
    margin: 9px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 120px;
}





header {
    border-bottom: solid 2px rgb(42, 228, 88);
    padding: 20px;
    font-size: 32px;
    color: rgb(108, 228, 208);
}
.ccall {
    background: rgb(216, 147, 19);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 8%;
}

h1 {
    font-size: 90px;
}

p {
    font-size: 60px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}
.categoria h2 {
    color: rgb(42, 122, 228);
}